img {
/*    height: 100%;*/
    width: 100%;
    display:block;
    object-fit: contain;
}

/*@todo define $spacer in SCSS*/
.p-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.match_picture_background {
    background-color: #F1F0F5;
}