<html>
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142853226-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-142853226-2');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>SafeBlanket Feedback</title>
    </head>

    <body>
        <div align="center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQVIKbuFnquBOzMFq7hQEJP7EX8l4XkV2daHdFABfg7mQsxQ/viewform?embedded=true"
            width="640" height="1037" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
        <!--<nav class="navbar navbar-inverse">-->
        <!--  <div class="container">-->
        <!--    <div class="navbar-header">-->
        <!--      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
        <!--        <span class="sr-only">Toggle navigation</span>-->
        <!--        <span class="icon-bar"></span>-->
        <!--        <span class="icon-bar"></span>-->
        <!--        <span class="icon-bar"></span>-->
        <!--      </button>-->
        <!--      <a class="navbar-brand" href="#">SafeBlanket Feedback</a>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</nav>-->

        <!--<div class="container">-->

        <!--    <div class="row">-->
        <!--        Please provide your feedback to SafeBlanket.-->
        <!--    </div>-->

        <!--    <div class="row">-->
        <!--        <form action="." method="POST">-->
        <!--            <textarea class="form-control" name="q_1" placeholder="Enter a comment"></textarea>-->
        <!--        <div class="row">-->
        <!--            Please provide your feedback to SafeBlanket.-->
        <!--        </div>-->
        <!--            <textarea class="form-control" name="q_2" placeholder="Enter a comment"></textarea>-->
        <!--            <textarea class="form-control" name="q_3" placeholder="Enter a comment"></textarea>-->
        <!--            <textarea class="form-control" name="q_4" placeholder="Enter a comment"></textarea>-->
        <!--            <textarea class="form-control" name="q_5" placeholder="Enter a comment"></textarea>-->
        <!--            <input type="submit" class="btn btn-success" value="Post comment">-->
        <!--        </form>-->
        <!--    </div>-->

        <!--</div>-->

    </body>
</html>
