{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Safe Blanket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <div class="container pt-40">
        <div class="row align-items-center">  
            <div class="col-12 col-sm-6">
                <h1 class="display-4">Safe Blanket</h1>
                <h2 class="display-4">Keep Your Loved Ones Safe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis lectus turpis, nec ultrices nunc suscipit sit amet.</p>
                <!-- python -->
                {% for email in emails %}
                    <div class="row">
                        {{ email.content }}
                    </div>  
                {% endfor %}
                <form action="." method="POST" class="input-group">
                    <input type="email" class="form-control" name='contents' placeholder="Email me when Safe Blanket is ready!" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" value="Post email" id="button-addon2">Send</button>
                    </div>
                </form>
            </div> <!-- col-6 end -->
            <div class="col-12 col-sm-6">
                <img src="static/tim-bish-171738-unsplash.jpg">
            </div> <!-- col-6 end -->
        </div> <!-- row end -->                
    </div> <!-- container end -->
</body>
</html>
{% endblock %}